@model List<PortfolioProjectNight.Models.Contact>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Durum</th>
        <th>Mesaji Ac</th>
        <th>Mesaji Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        // Konu alanını renklendirmek için inline style belirle
        string subjectStyle = "";
        if (item.CategoryID.Value==1)
        {
            subjectStyle = "background-color: #00FF00; color: black;"; // Kırmızı arka plan, beyaz yazı
        }
        else if (item.CategoryID.Value == 2)
        {
            subjectStyle = "background-color: #FAEBD7; color: black;"; // Açık mavi arka plan, siyah yazı
        }
        else if (item.CategoryID.Value == 3)
        {
            subjectStyle = "background-color: #7FFFD4; color: black;"; // Sarı arka plan, siyah yazı
        }
        else if (item.CategoryID.Value == 4)
        {
            subjectStyle = "background-color: #6495ED; color: black;"; // Sarı arka plan, siyah yazı
        }
        else if (item.CategoryID.Value == 5)
        {
            subjectStyle = "background-color: #B8860B; color: black;"; // Sarı arka plan, siyah yazı
        }
        else if (item.CategoryID.Value ==5)
        {
            subjectStyle = "background-color: #A9A9A9; color: black;"; // Sarı arka plan, siyah yazı
        }
        else if (item.CategoryID.Value == 6)
        {
            subjectStyle = "background-color: #9400D3; color: black;"; // Sarı arka plan, siyah yazı
        }
        else if (item.CategoryID.Value == 7)
        {
            subjectStyle = "background-color: #DAA520; color: black;"; // Sarı arka plan, siyah yazı
        }
        else
        {
            subjectStyle = "background-color: lightgray; color: black;"; // Açık gri arka plan, siyah yazı
        }
        <tr>
       
        <td>@count</td>
        <td>@item.NameSurname</td>
        <td>@item.SendDate</td>
        <td style="@subjectStyle">@item.Category.CategoryName</td>
        
            @if(item.IsRead==false)
            { 
                <td><a href="/Message/ChangeMessageStatusToTrue/@item.ContactID" class="btn btn-info">Okundu Olarak Isaretle</a></td>
            }
            else
            { 
                 <td><a href="/Message/ChangeMessageStatusToFalse/@item.ContactID" class="btn btn-dark">Okunmadi Olarak Isaretle</a></td>
            }
        <td><a href="#" class="btn btn-warning">Mesaji Ac</a></td>
        <td><a href="#" class="btn btn-danger">Mesaji Sil</a></td>

        </tr>
       }

    </table>

