@*@model PagedList<PortfolioProjectNight.Models.Skill>*@
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<PortfolioProjectNight.Models.Skill>
@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yetenek Listesi ve Islemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Baslik</th>
        <th>Deger</th>
        <th>Icon</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.Rate</td>
            <td>@item.Icon</td>
            @if (item.Status == false)
            {
                <td><a href="/Skill/ChangeSkillStatusTrue/@item.SkillId" class="btn btn-danger">Pasif</a></td>
            }
            else
            {
                <td><a href="/Skill/ChangeSkillStatusFalse/@item.SkillId" class="btn btn-success">Aktif</a></td>
            }


            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("SkillList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})

<a href="/Skill/CreateSkill" class="btn btn-info">Yeni Yetenek Girisi</a>
