@model PortfolioProjectNight.Models.SocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>UpdateSocialMedia</h2>

<form method="post">
    @Html.HiddenFor(x => x.SocialMediaId)
    <label>Sosyal Media Adi</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>URL</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br />
    <label>Statü</label>
    <select name="Title" class="form-control">
        <option value="" disabled selected>Lütfen Secim Yapiniz</option>
        <option>True</option>
        <option>False</option>
    </select>
 @*   @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })*@
    <br />
    <label>Yetenek Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>